<div class="jumbotron">
    <h3>{{"titlePickTask"}}</h3>
    <p>{{"labelBackToHome" | localize}}</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>{{"menuInvoices" | localize}}</h2>
            </div>
            <div class="panel-body">
                <a href="#/orders" class="btn btn-lg btn-primary">{{"labelInvoiceList" | localize}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>{{"menuInventory" | localize}}</h2>
            </div>
            <div class="panel-body">
                <a href="#/products" class="btn btn-lg btn-info">{{"labelManageInventory" | localize}}</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>{{"menuReports"}}</h2>
            </div>
            <div class="panel-body">
                <a href="#/reports" class="btn btn-lg btn-success">{{"labelGenerateReports" | localize}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{"menuLabelling" | localize}}</h2>
            </div>
            <div class="panel-body">
                <a href="#/labels" class="btn btn-lg btn-default">{{"labelPrintLabels" | localize}}</a>
            </div>
        </div>
    </div>
</div>